html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet', href='/css/cards.css', type='text/css' )
  body
    #container.col
      if index
        a(href='/spreadsheets/'+spreadsheetId)
          | < More cards from this spreadsheet
      for card in cards
        - var enabled = (card.priority == 'W') ? 'disabled' :  'enabled';
        .card(class=enabled)
          .top
            .title
              h2
                if ! index
                  a(href='/spreadsheets/'+spreadsheetId + '/' + card.index)
                    = card.title
                else
                  = card.title
            .keywords
              for keyword in card.keywords
                span.keyword
                  = keyword
              if card.dots
                - var i = 0;
                while i < card.dots
                  - i++;
                  span.dot 
            if card['harddeadline']
              .deadline
                = 'Deadline: '
                = card['harddeadline']
            if card['priority']
              .priority
                = 'Priority '
                = card['priority']
          .right
            .how
              h3 How?
              ul
              for how in card.howlist
                li
                  = how
          .left
            .why
              h3 Why?
              p= card['whysolveswhichproblem']
            if card.notes
              .notes
                h3 Notes
                p= card.notes
          .bottom
            .size
              .tshirtsize
                = card['t-shirtsize']
              .devtime
                = card['devtime']
              .elapsedtime
              = card['elapsedtime']
