html(lang="en")
  head
    title= Cards
    link(rel='stylesheet', href='/css/cards.css', type='text/css' )
  body
    #container.col
      ul
        li
          a(href='/status') /status
        li
          a(href='/spreadsheets/1FuV6Z2oK5mkmJXr2aMZT_xCeRtgGBprdT6Um8qn3bDU') /spreadsheets/1FuV6Z2oK5mkmJXr2aMZT_xCeRtgGBprdT6Um8qn3bDU
